
body {
  margin: 0;
  background-color: #f4f4f4;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* big box width */
.layer {
  width: 100%;
  min-width: 1190px;
}

.t-nav-cover {
  border: 1px solid #eee;
  background-color: #f5f5f5;
}

.t-nav-cover .site-nav {
  width: 1190px;
  height: 35px;
  margin: 0 auto;
  background-color: #000;
}
/* 2 */
.t-main-cover {
  background-color: #fff;
}

.t-main-cover .main-belt {
  width: 1190px;
  height: 121px;
  margin: 0 auto;
  background-color: orange;
}
/* 3 */
.main-nav-cover .main-nav {
  width: 1190px;
  height: 30px;
  margin: 0 auto;
  background-color: #ff5000;
}
.main-show-area {
  width: 1190px;
  height: 632px;
  margin: 0 auto;
  background-color: #666;
}


.main-show-area .main-area {
  float: left;
  width: 900px;
  height: 632px;
  background-color: pink;
}

.main-show-area .funcs-area {
  float: left;
  width: 290px;
  height: 632px;
  background-color: purple;
}